{% extends "base.html" %}
{% block header %} Books Share {% endblock %}
{% block content %}

        <p>&nbsp;</p>

        <div id="insert">
            <form method="" id="">
            <legend><strong>Search Authors</strong></legend>
            <fieldset class="field">
                <label> Author </label> <input type="text" name="uid">
            </fieldset>
            <input class="btn" type="submit" id="addUser" value="Search Authors">
            </form>
        </div>

        <div id="browse">
            <!-- Can include buttons here above the table -->
            <table border="1" cellpadding="5">
                <tr>
                    <th>author_id</th>
                    <th>author_fname</th>
                    <th>author_lname</th>
                    <th> edit</th>
                    <th> delete</th>
                <!--    <th>book_id</th> -->
            
                </tr>
                {% for author in Authors %}
                <tr>
                    <td align="center" >{{ author.author_id }}</td>
                    <td align="center">{{ author.author_fname }}</td>
                    <td align="center" >{{ author.author_lname }}</td>
                    <td><button type="button"> edit </button></td>
                    <td><button type="button"> delete </button></td>
                <!--    <td align="center" >{{ author.book_id }}</td> -->
            
                </tr>
                {% endfor %}
                
            </table>
            <p>&nbsp;</p> 
        </div> 
        <div id="insert">
            <form method="" id="">
            <legend><strong>Add Author</strong></legend>
            <fieldset class="field">
                <label> author_id </label> <input type="text" name="uid">
                <label> author_fname </label> <input type="text" name="uname">
                <label> author_lname </label> <input type="timestamp" name="createdat">
                <label> book_id </label> <input type="timestamp" name="createdat">
            </fieldset>
            <input class="btn" type="submit" id="addTransaction" value="Add Author">
            <input class="btn" type="button" value="Cancel"> 
            </form>
        </div> 

        
    </body>
    {% endblock %}