<html>
    <head>
        <title>Books Share</title>
        <!-- Add link to css here --> 
        <!-- Add script language -->
    </head>
    <body>
        <h1>{% block header%} {% endblock %}</h1>
        <a href="/">Home</a>
        <a href="User">Users</a>
        <a href="Author">Authors</a>
        <a href="Inventory">Inventory</a>
        <a href="Book">Books</a>
        <a href="Transaction">Transactions</a>
        <a href="Books_has_Authors">Books_Has_Authors</a>

        {% block content %} {% endblock %}
    </body>
</html>