<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Books Share</title>
    </head>
    <body>
        <h1>{% block header%} {% endblock %}</h1>
        <nav class="navbar navbar-fixed-top navbar-light bg-light">
        <div class="navbar-header pull-left">
          <button type="button" class="btn btn-default navbar-btn"><a class="navbar-brand" href="/">Books SHare</a></button>
          <button type="button" class="btn btn-default navbar-btn"><a class="nav-link" href="User">Users</a></button>
          <button type="button" class="btn btn-default navbar-btn"><a class="nav-link" href="Author">Authors</a></button>
          <button type="button" class="btn btn-default navbar-btn"><a class="nav-link" href="Inventory">Inventory</a></button>
          <button type="button" class="btn btn-default navbar-btn"><a class="nav-link" href="Book">Books</a></button>
          <button type="button" class="btn btn-default navbar-btn"><a class="nav-link" href="Transaction">Transactions</a></button>
        </div>
      </nav>
    <br>
        <!--
        <a href="/">Home</a>
        <a href="User">Users</a>
        <a href="Author">Authors</a>
        <a href="Inventory">Inventory</a>
        <a href="Book">Books</a>
        <a href="Transaction">Transactions</a>
        <a href="Books_has_Authors">Books_Has_Authors</a>
        -->

    {% block content %}
        <h1 class="pageTitle">{% block title %} Welcome to Books Share {% endblock %}</h1>
        <h3 class="pageSubTitle"> Use the navigation bar above to get where you need to go.</h3>
        <img id="homepage" className="homepage-image" alt="edit" src="{{url_for('static', filename='bookhome.jpg')}}">
        <br>
        <br>
    {% endblock %}
    </body>
</html>


<!--
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books Share</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>

    <body>
        <ul class="nav-bar">
            <a href="/" class="nav-bar-link">Home</a>
            <a href="User" class="nav-bar-link">Users</a>
            <a href="Author" class="nav-bar-link">Authors</a>
            <a href="Inventory" class="nav-bar-link">Inventory</a>
            <a href="Book" class="nav-bar-link">Books</a>
            <a href="Transaction" class="nav-bar-link">Transactions</a>
            <a href="Books_has_Authors" class="nav-bar-link">Books Has Authors</a>
        </ul>


        <div
            <p id="welcome-message">Welcome To Books Share, your one-stop Book/Note-sharing spot!</p>
        </div>

        <script src="app.js"></script>
    </body>
</html>
-->
