<html>
{% extends "base.html" %}
{% block header %} Books Share {% endblock %}
{% block content %}
<!-- Adapted from the people.html UI design -->
<head>
	<title>Books Share</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * browse, insert, update, delete- only one visible
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} 
		else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';

		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';

		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} 
		else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newBookHasAuthors() {
		showform('insert');
	}

	function updateBookHasAuthors(pid) {
		showform('update');
	}

	function deleteBookHasAuthors(pid) {
		showform('delete');
	}

	function browseBookHasAuthor() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseBookHasAuthors()">

	<h2>Books-Authors Relationship</h2>
	
	<div id="browse">
		
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->
					{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_BookHasAuthors/{{item['books_book_id']}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_BookHasAuthors/{{item['books_book_id']}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">

		<!-- form to INSERT new data into Users-->

		<form id="insertBookHasAuthors" action="/Books_Has_Authors" method="post">
			<legend><strong>Add Books_Has_Authors</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="books_book_id">book_id:</label>
					<select id="book_id" name="book_id">
            				{% for item in Books_id %}
            				<option value={{item['book_id']}} selected> {{item['book_id']}} </option>
           				{% endfor %} 
					</select>

				<label for="authors_author_id">author_id:</label>
					<select id="author_id" name="author_id">
            				{% for item in Authors_id %}
            				<option value={{item['author_id']}} selected> {{item['author_id']}} </option>
           				{% endfor %} 
					</select>

            <!-- Create 'Add Book' and 'Cancel' buttons -->
			<input type="submit" value="Add BookHasAuthors" name="Add_Book_Has_Authors" class="btn btn-primary">
			<input class="btn" type="button" value="Cancel" onClick="browseBookHasAuthors()"> 
        
		</form>
	</div><!--insert-->

</body>
{% endblock %}
</html>
