{% extends "base.html" %}
{% block header %} Books Share {% endblock %}
{% block content %}

        <p>&nbsp;</p>

        <div id="browse">
            <!-- Can include buttons here above the table -->
            <table border="1" cellpadding="5">
                <tr>
                    <th>Books_book_id</th>
                    <th>Authors_author_id</th> 
                    <th> edit</th>
                    <th> delete</th>
            
                </tr>
                
                {% for books_has_authors in Books_Has_Authors %}
                <tr>
                    <td align="center" >{{ book.book_id }}</td>
                    <td align="center">{{ author.author_id }}</td>
                    <td><button type="button"> edit </button></td>
                    <td><button type="button"> delete </button></td>
                <!--    <td align="center" >{{ author.book_id }}</td> -->
            
                </tr>
                {% endfor %}
                
            </table>
            <p>&nbsp;</p> 
        </div> 
        <div id="insert">
            <form method="" id="">
            <legend><strong>Add Books_Has_Authors</strong></legend>
            <fieldset class="field">
                <label> Books_book_id </label> <input type="text" name="uid">
                <label> Authors_author_id </label> <input type="text" name="uname">
            </fieldset>
            <input class="btn" type="submit" id="addTransaction" value="Add Books_Has_Authors">
            <input class="btn" type="button" value="Cancel"> 
            </form>
        </div> 

        
    </body>
    {% endblock %}