<html>

<head>
	<title>Delete Author</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <form id="deleteAuthors" action="/delete_authors/{{authorID}}" method="post">
            <caption> Delete This Author? </caption>
            <!-- Access data tuple passed from app.py -->
            <table border="1" cellpadding="5">
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th>{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                       
                            <!-- Create a <td> element with the value of that key in it -->
                            <td>{{item[key]}}</td> 

                        {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 

            <input type="hidden" value="{{authorID}}" class="form-control" id="author_id" name="author_id" required>
        </table>
        
        <input type="submit" value="Delete Author" name="deleteAuthors" class="btn btn-primary">
        <a href='/Author'><input class="btn" type="button" value="cancel"></a>
        </form>
    </div>
</body>
</html>
