<html>

<head>
	<title>Edit Books_Has_Authors</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Edit Books_Has_Authors Data </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th>{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                       
                            <!-- Create a <td> element with the value of that key in it -->
                            <td>{{item[key]}}</td> 
                        
                        {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
        
         <div id="edit">
            <!-- form to edit data in Transactions-->

            <form id="editBooksHasAuthors" action="/edit_books_has_authors/{{books_book_id}}" method="post">
                <legend><strong>Edit Books_Has_Authors</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
		    <label for="books_book_id">book_id:</label>
			<select id="book_id" name="book_id">
            		{% for item in Books_id %}
            		<option value={{item['book_id']}} selected> {{item['book_id']}} </option>
           		{% endfor %} 
			</select>
			
		    <label for="authors_author_id">author_id:</label>
			<select id="author_id" name="author_id">
            		{% for item in Authors_id %}
            		<option value={{item['author_id']}} selected> {{item['author_id']}} </option>
           		{% endfor %} 
			</select>
                                        	
                
                </fieldset>
                <input type="submit" value="Edit Books_Has_Authors" name="edit_books_has_authors" class="btn btn-primary" style="margin:.5rem;">
                <a href='/Books_Has_Authors'><input class="btn" type="button" value="cancel"></a>
            </form>

</body>
</html>
