.Header{
    background-color: rgb(171, 171, 171);
    height: 70px;
}

.logo-link{
    color: black;
    text-decoration: none;
    font-size: 40px;
    margin-left: 30px;
}

.logo-link:hover {
    color: black;
  }

.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

ul.nav-bar li{
    float: left;

}

.nav-bar a{
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 12px 14px;
    text-decoration: none;
    background-color: black;
    color: white;
}

.nav-bar a:hover {
    background-color: #111;
    color: white;
  }

.top-container{
    height: 50px;
}

#welcome-message{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
}

.fields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

a {
    color: rgb(88, 88, 181);
}

a:hover {
    color: rgb(38, 163, 163);
}

body {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat";
}

table {
    border-collapse: collapse;
    border-color: black;
    box-shadow: 0px 3px 3px grey;
    border-style: outset;
}

table th {
    background-color: #046b99;
    color: white;
}

th,
td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
    border-color: black;
}

td {
    padding: 0.5em;
}

table tr:nth-child(even) {
    background-color: lightblue;
}

table tr:nth-child(odd) {
    background-color: rgb(73, 136, 157);
}

select {
    display: block;
    margin: 10px 0 10px 0;
    padding: 5px;
}

button,
input,
input[type="submit"],
.textArea {
    box-shadow: 0 1px 1px grey;
    display: block;
    margin: 10px 0 10px 0;
    padding: 5px;
}

button:hover,
input[type="submit"]:hover,
select {
    color: coral;
}

input[type="submit"] {
    margin: 20px 0 0 0;
}
