{% extends "base.html" %}
{% block header %} Books Share {% endblock %}
{% block content %}

        <div id="browse">
            <!-- Can include buttons here above the table -->
            <table border="1" cellpadding="5">
                <tr>
                    <th>transaction_id</th>
                    <th>user_id</th>
                    <th>inventory_id</th>
                    <th>total_price</th>
                    <th>created_at</th>
                    <th>modified_at</th> 
                    <th> edit</th>
                    <th> delete</th>
                </tr>
                {% for transaction in Transactions %}
                <tr>
                    <td align="center" >{{ transaction.transaction_id }}</td>
                    <td align="center">{{ transaction.user_id }}</td>
                    <td align="center">{{ transaction.inventory_id }}</td>
                    <td align="center">{{ transaction.total_price }}</td>
                    <td align="center" >{{transaction.created_at}}</td>
                    <td align="center" >{{transaction.modified_at}}</td>
                    <td><button type="button"> edit </button></td>
                    <td><button type="button"> delete </button></td>
                </tr>
                {% endfor %}
                
            </table>
            <p>&nbsp;</p> <!-- just some space for looks -->
        </div> 
        <div id="insert">
            <form method="" id="">
            <legend><strong>Add Transaction</strong></legend>
            <fieldset class="field">
                <label> transaction_id </label> <input type="text" name="uid">
                <label> user_id </label> <input type="text" name="uid">
                <label> inventory_id </label> <input type="text" name="uid">
                <label> total_price </label> <input type="text" name="uname">
                <label> created_at </label> <input type="timestamp" name="createdat">
                <label> modified_at </label> <input type="timestamp" name="modifiedat">
            </fieldset>
            <input class="btn" type="submit" id="addTransaction" value="Add Transaction">
            <input class="btn" type="button" value="Cancel"> 
            </form>
        </div> <!-- insert ends -->
        {% endblock %}